{% extends 'events/base.html' %}

{% block content %}
  <div class="d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="text-center">
      {% if searched %}
        <h1>Your Searched For... {{ searched }}</h1>
        <br/>
        {% for Venue in venues  %}
        <a  href= "'show_venue' venue.id">
           {{ Venue }} </a>
        {% endfor %}
      {% else %}
        <h1>Hey! You Forgot To Search For A Venue</h1>
      {% endif %}
    </div>
  </div>
{% endblock %}

