{% extends 'events/base.html' %}

{% block content %}
  <h1>Venues</h1>
  <br/>
  <table class="table table-hover table-bordered table-striped">
    <thead>
     
    </thead>
    <tbody>
      {% for venue in venues %}
      <tr>
        <td>
          <a href="{% url 'show_venue' venue.id %}">
            {{ venue.name }}
          </a>
        </td>
        <!--- Lock Down Your Django App in Venue-->
        {% if user.is_authenticated %}
        <td class="text-right align-middle">
          <a href="{% url 'update-venue' venue.id %}" class="btn btn-outline-primary btn-sm mr-2">
            Update
          </a>
          <a href="{% url 'delete-venue' venue.id %}" class="btn btn-outline-danger btn-sm">
            Delete
          </a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br/><br/>

  <!--{{ venues }}<br/>
 Has Previous : {{ venues.has_previous }}<br/>
  Has Next : {{ venues.has_next }}<br/>
  Current Page : {{ venues.number }}<br/>
  Number Of Page: {{ venues.paginator.num_pages }}<br/>
  <hr><br/><br/>
  -->

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <!-- Footer pagination -->
        {% if venues.has_previous %}
        <li class="page-item ">
            <a class="page-link" href="?page=1">&laquo; first</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ venues.previous_page_number }}">previous</a>
        </li>
        {% endif %}

        {% if venues.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ venues.next_page_number }}">next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ venues.paginator.num_pages }}">last &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
